<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tugas CRUD Menggunakan Axios</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<style type="text/css">
		html {
			scroll-behavior: smooth;
		}
		body {
			font-family: arial;
		}
		.card {
			box-shadow: 0 4px 8px 0 #8c8b8b;
			max-width: 800px;
			margin: auto;
			text-align: center;
		}
		.detail {
			font-size:14px;
			color:rgba(0, 0, 0, 0.7);
			padding:10px;
			border-radius:5px;
			transition: 0.5s;
		}
		.title {
			letter-spacing: 5px;
			font-size:20px;
			padding:15px;
		}
		hr {
			border: 0; 
			height: 1px; 
			background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
			background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
			background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
			background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
		}
		.content {
			width: 90%;
			margin: 5px;
			padding: 5px;
			background-color: rgba(0,0,0,0);
		}
		.detail:hover {
			background-color: rgba(0,0,0,0.1);
			transition: 0.5s;
		}
		.detail button {
			border: 0px;
			color:#000;
			background-color: rgba(0,0,0,0.2);
			padding: 5px;
			transition: 0.5s;
		}
		.detail button:hover {
			background-color: rgba(0,0,0,0.4);
			color: #fff;
			transition: 0.5s;
		}
		input {
			background-color: rgba(0,0,0,0);
			border: 0px solid;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			outline: none;
		}
		input:focus {
			outline: none;
		}
		img {
			width: 25%;
			height: auto;
			aspect-ratio: attr(width) / attr(height);
		}
	</style>
</head>
<body>
<div id="app" class="card">
	<center>
	<div class="content">
		<div class="title">INPUT MEMBER</div>
		<div class="detail" id="inputData">
			<div style="width:90%;"><span style="width:30%;">Nama : </span><input :disabled="inputMode == 'photo'" type="text" v-model="dataMember[0]" style="width:70%;"></div>
			<div style="width:90%;"><span style="width:30%;">No Hp : </span><input :disabled="inputMode == 'photo'" type="text" v-model="dataMember[1]" style="width:70%;"></div>
			<div style="width:90%;"><span style="width:30%;">Alamat : </span><input :disabled="inputMode == 'photo'" type="text" v-model="dataMember[2]" style="width:70%;"></div>
			<span v-show="warningMessage.length > 0"><br>Tolong <b>{{ warningMessage[warningMessage.length-1] }}.</b> Harap Di Isi.</span>
			<div v-if="inputMode == 'add'">
				<br>
				<button style="width:90%" v-on:click="addMembers()">Add Member</button>
			</div>
			<div v-else-if="inputMode == 'edit'">
				<br>
				<button style="width:90%;margin-bottom:10px;" v-on:click="pushEditedMember(userId)">Edit Member</button>
				<button style="width:90%" v-on:click="cleanForm()">Cancel</button>
			</div>
			<div v-else-if="inputMode == 'photo'">
				<div style="width:90%;"><span style="width:30%;">Fotonya : </span><input type="file" name="photo" ref="photo" style="width:70%;"></div>
				<br>
				<button style="width:90%;margin-bottom:10px;" v-on:click="pushEditedPhoto(userId)">Upload Photo Profile</button>
				<button style="width:90%" v-on:click="cleanForm()">Cancel</button>
			</div>
		</div>
		<hr>
		<div class="title">LIST MEMBER</div>
		<hr>
		<div v-for="(data, index) in allUsers">
			<div class="detail">
				<img :src="data.photo_profile ? photoUrl + data.photo_profile : 'https://www.gravatar.com/avatar/'+data.id+'?d=identicon&f=y' "><br>
				Nama : {{ data.name }}<br>
				No Hp : {{ data.no_hp }}<br>
				Alamat : {{ data.address }}<br>
				<div>
					<a href="#inputData"><button style="width:30%" v-on:click="editMember(index)">Edit Member</button></a>
					<button style="width:30%" v-on:click="deleteConfirm(index)" >Delete Member</button>
					<a href="#inputData"><button style="width:30%" v-on:click="editPhoto(index)">Add Profile Photo</button></a>
				</div>
				<div v-if="deleteId == data.id">
					Anda Yakin ?.<br>
					<button style="width:35%" v-on:click="deleteId = ''">Cancel</button>
					<button style="width:35%" v-on:click="deleteMember(deleteId)">Delete Member</button>
				</div>
			</div>
			<hr>
		</div>
		<div class="detail">- Made With Love <3 -</div>
	</div>
	</center>
</div>
<script>
	let vm = new Vue({
		el : '#app',
		data : {
			dataMember : ["", "", ""],
			allUsers : [],
			photoUrl : 'http://demo-api-vue.sanbercloud.com',
			userId : '',
			inputMode : 'add',
			deleteId : '',
			warningMessage : []
		},
		methods : {
			checkForm : function() {
				this.warningMessage = []
				if (this.dataMember[0].length == 0) {
					this.warningMessage.push('Nama')
				}
				if (this.dataMember[1].length == 0) {
					this.warningMessage.push('No Hp')
				}
				if (this.dataMember[2].length == 0) {
					this.warningMessage.push('Alamat')
				}
				if (this.warningMessage.length > 1) {
					this.warningMessage.push(this.warningMessage.join(', '))
				}
			},
			cleanForm : function() {
				this.dataMember = ["", "", ""]
				this.inputMode = 'add'
				this.userId = ''
				this.deleteId = ''
			},
			getMembers : function() {
				this.warningMessage = []
				const config = {
					method : 'get',
					url : 'http://demo-api-vue.sanbercloud.com/api/member'
				}
				axios(config)
					.then( (response) =>{
						this.allUsers = response.data.members
					})
					.catch( (error) =>{
						console.log(error)
					})
			},
			addMembers : function() {
				let formData = new FormData()
				formData.append('name', this.dataMember[0])
				formData.append('no_hp', this.dataMember[1])
				formData.append('address', this.dataMember[2])
				const config = {
					method : 'post',
					url : 'http://demo-api-vue.sanbercloud.com/api/member',
					data : formData
				}
				this.checkForm()
				if (this.warningMessage.length == 0) {
					axios(config)
						.then( (response) =>{
							this.getMembers()
							this.cleanForm()
						})
						.catch( (error) =>{
							console.log(error)
						})
				}
			},
			deleteConfirm : function(id) {
				this.deleteId = this.allUsers[id].id
			},
			deleteMember : function(id) {
				const config = {
					method : 'post',
					url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
					params : {_method : 'DELETE'}
				}
				axios(config)
					.then( (response) =>{
						this.getMembers()
						this.cleanForm()
					})
					.catch( (error) =>{
						console.log(error)
					})
			},
			editMember : function(id) {
				this.warningMessage = []
				this.dataMember = [this.allUsers[id].name, this.allUsers[id].no_hp, this.allUsers[id].address]
				this.inputMode = 'edit'
				this.userId = this.allUsers[id].id
				this.deleteId = ''
			},
			pushEditedMember : function(id) {
				let formData = new FormData()
				formData.append('name', this.dataMember[0])
				formData.append('no_hp', this.dataMember[1])
				formData.append('address', this.dataMember[2])
				const config = {
					method : 'post',
					url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
					data : formData,
					params : {_method : 'PUT'}
				}
				this.checkForm()
				if (this.warningMessage.length == 0) {
					axios(config)
						.then( (response) =>{
							this.getMembers()
							this.cleanForm()
							this.inputMode = 'add'
						})
						.catch( (error) =>{
							console.log(error)
						})
				}
			},
			editPhoto : function(id) {
				this.warningMessage = []
				this.dataMember = [this.allUsers[id].name, this.allUsers[id].no_hp, this.allUsers[id].address]
				this.inputMode = 'photo'
				this.userId = this.allUsers[id].id
				this.deleteId = ''
			},
			pushEditedPhoto : function(id) {
				this.warningMessage = []
				let photo = this.$refs.photo.files[0]
				let formData = new FormData()
				formData.append('photo_profile', photo)
				const config = {
					method : 'post',
					url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
					data : formData
				}
				axios(config)
					.then( (response) =>{
						this.getMembers()
						this.cleanForm()
						this.inputMode = 'add'
					})
					.catch( (error) =>{
						console.log(error)
					})
			}
		},
		created : function() {
			this.getMembers()
		}
	})
</script>
</body>
</html>