<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<div v-if="isEdit">
			<input type="text" value="input" v-model:value="input" /> <button v-on:click="updateUsers(input, updateIndex)">Update</button>
		</div>
		<div v-else>
			<input type="text" value="input" v-model:value="input" /> <button v-on:click="addUsers(input)">Add</button>
		</div>
		<div>
			<ul v-for="(data, index) in users">
				<li>{{ data.name }}  |  <button v-on:click="editUsers(index)">Edit</button>  |  <button v-on:click="deleteUsers(index)">Delete</button>
			</ul>
		</div>
	</div>
  
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
	var vm = new Vue({
	el: '#app',
	data: {
		input : '',
		updateIndex : 0,
		isEdit : false,
		users : [
			{
				'name' : 'Mohamad Arizal Hadisucipto'
			},
			{
				'name' : 'Khairul Zaa'
			},
			{
				'name' : 'Farhan Siregar'
			}
		]
	},
	methods : {
		addUsers(inputnya) {
			let theData = { 'name' : inputnya };
			this.users.push(theData);
			this.input = '';
		},
		deleteUsers(indexnya) {
			let isDelete = confirm('Anda Yakin ?.');
			if (isDelete) {
				this.users.splice(indexnya, 1);
			};
		},
		editUsers(indexnya) {
			this.isEdit = true;
			this.input = this.users[indexnya].name;
			this.updateIndex = indexnya;
		},
		updateUsers(inputnya, indexnya) {
			this.isEdit = false;
			this.users[indexnya].name = inputnya;
			this.input = '';
		}
	}
	})
	</script>
</body>
</html>