body {
	font-family: arial;
}
.card {
	box-shadow: 0 4px 8px 0 #8c8b8b;
	max-width: 800px;
	margin: auto;
	text-align: center;
	transition: 0.5s;
}
.card:hover {
	box-shadow: 0 12px 24px 0 #8c8b8b;
	transition: 0.5s;
}
.detail {
	font-size:14px;
	color:rgba(0, 0, 0, 0.7);
	padding:5px;
}
.title {
	letter-spacing: 5px;
	font-size:20px;
	padding:15px;
}
hr {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}