<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<input type="text" value="input" v-model:value="input" v-on:input="cari(input)" />
		<div v-if="mencari">
			<ul v-for="hasilbuku in search">
				<li>{{ hasilbuku }}
			</ul>
		</div>
		<div v-else>
			<ul v-for="buku in books">
				<li>{{ buku }}
			</ul>
		</div>
	</div>
  
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
	var vm = new Vue({
	el: '#app',
	data: {
		input : '',
		mencari : false,
		search : [],
		books : [
			'Kalkulus Dasar',
			'Fisika Dasar',
			'Aljabar Linier Elementer',
			'Aljabar Abstrak',
			'Algoritma Pemrograman'
		]
	},
	methods : {
		cari(inputnya) {
			if (this.input.length > 0) {
				this.mencari = true
			} else {
				this.mencari = false
			}
			this.search = this.books.filter(function(buku){
				return buku.toLowerCase().indexOf(inputnya) != -1;
			})
		}
	}
	})
	</script>
</body>
</html>